.divCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .UploadNewPhoto {
    margin-top: 10px;
    margin-bottom: 10px;

 }

 .profilePhoto {
    width: 180px;
    height: 171px;
    
  }

  .FloatingLabel {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 245px;
  }

.UploadNewCV {
    margin-left: 20px;
}

.pdfIcon {
    margin-right: 20px;
    width: 50px;
    height: 40px;
}

.buttonmui {
  width: 150px;
}

.buttonmuiupdate {
  margin-left: 10px;
  width: 70px;
}

