.tablecss {
    width: 1100px;
    margin-left: 400px;
}

.action {
    text-align: center;
    width: 150px;
}

.pagination {
    position: absolute;
    bottom: 50px;
    left: 900px;
}

.jobTitle {
    text-underline-position: below;
}