.tablecss {
    width: 1290px;
    margin-left: 310px;
}


.action {
    text-align: center;
    width: 150px;
}

.pagination {
    position: absolute;
    bottom: 50px;
    left: 900px;
}

.jobTitle {
    text-underline-position: below;
}